{% load static %}
<html lang="jp">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
		<title>CIT-ロボティクス研究会HP</title>
	</head>
	<body>
	<!-- header -->
		<div class="header">
				<a href="xxx.html"><li class="header-block">サークル紹介</li></a>
				<a href="xxx.html"><li class="header-block">過去の活動実績</li></a>
				<a href="xxx.html"><li class="header-block">活動日</li></a>
				<a href="xxx.html"><li class="header-block">提携サークル</li></a>
				<a href="xxx.html"><li class="header-block">連絡先</li></a>
		</div>
	<!-- main -->
		<div class="main-text">
			<p>
			私たちはCIT-ロボティクス研究会です。
			</p>
			<a href="https://citcansat.wixsite.com/csrad">CIT-宇宙技術研究会</a>
			<a href="http://www.me.cit.nihon-u.ac.jp/lab/yanagisawa/index.html">柳澤研究室HP</a>
		</div>
	</body>
</html>